body {
  @apply p-6;
  @apply min-h-screen;

  @apply font-DM;
  @apply text-white;
  @apply bg-black;
  @apply flex flex-col justify-center items-center;
}

a, a:link, a:visited {
  @apply font-semibold;
  @apply text-white;

  &:hover {
    @apply underline;
  }
}

strong {
  @apply font-semibold;
}

main {
  @apply flex flex-col items-center;
  @apply h-full;
}

#logo {
  @apply m-auto;
  @apply w-full;
  @apply max-w-md;
}

span.emoji {
  @apply text-xl;
}

.error {
  @apply flex flex-col;
  @apply rounded-lg;
  @apply p-3;
  
  @apply text-sm;
  @apply bg-coral;
  @apply border border-coral;
  @apply text-black;

  &::before {
    content: 'Error';

    @apply font-semibold;
    @apply text-base;
  }

  button {
    @apply inline-block;
    @apply mt-3 ml-auto;
    @apply px-10 py-4;
    @apply rounded-md;

    @apply text-sm;

    @apply font-semibold;
    @apply text-black;
    @apply bg-coral;

    &:hover {
      @apply bg-coral;
      @apply opacity-50;
    }
  }
}

button {
  @apply pb-3 pt-3 px-10;
  @apply rounded-full;
  @apply uppercase;
  @apply text-black;
  @apply bg-yellow-300;
  @apply text-button;
  @apply tracking-wider;
  line-height: 2.4rem;

  &:hover {
    @apply bg-green-100;
  }

  &:disabled {
    @apply bg-green-100;
  }

  &.primary {
    @apply text-black;
    @apply bg-yellow-300;
    @apply border border-black;

    &:hover {
      @apply opacity-50;
    }

    &:disabled {
      @apply bg-green-100;

      &:hover {
        @apply cursor-not-allowed;
      }
    }
  }
}

input[type=text] {
  @apply py-2 px-4;

  @apply rounded-full;
  
  @apply font-DM font-semibold;
  @apply text-white;
  @apply bg-black;
  @apply outline-none;

  &:focus {
    @apply bg-black;
  }

  &:disabled {
    @apply bg-green-100;

    &:hover {
      @apply cursor-not-allowed;
    }
  }
}

label {
  @apply mt-4 mb-1 ml-1;
  @apply font-semibold;
  @apply text-sm text-white;
}

#header {
  @apply object-top fixed w-full px-4 flex justify-center lg:justify-between z-40 font-DM;

  img.nav {
    @apply w-12;
  }
}

img {
  height: fit-content;
}

#mobile-message {
  @apply block;
  @apply lg:hidden;
  @apply text-center;
  @apply text-base;

  h3 {
    @apply mt-4;
  }

  img {
    @apply w-full;
    @apply px-2;
  }
}