#minting-dapp {
  @apply flex flex-col items-center;
  @apply my-6 mx-auto;
  @apply w-full;

  .no-wallet {
    @apply flex flex-col;
    @apply px-4 py-6;
    @apply rounded-lg;
    background-color: black !important;
    @apply bg-black;
    @apply border border-black;


    .use-block-explorer {
      &:not(:first-child) {
        @apply mt-3;
        color: white;
      }

      &:not(:first-child)::before {
        content: '';

        @apply block;
        @apply mx-auto my-3;
        @apply w-12;
      }
    }

    .merkle-proof-manual-address {
      @apply flex flex-col;
      @apply mt-4;
      @apply bg-black;
      
      h2 {
        @apply font-semibold;
        @apply text-white text-xl;
      }

      p {
        @apply mt-3;
        @apply text-white;
      }

      .feedback-message {
        @apply rounded-lg;
        @apply mt-4;
        @apply p-3;

        @apply text-sm;
        @apply bg-black;
      }

      input {
        @apply rounded-t-lg;
        @apply rounded-b-none;
      }

      button {
        @apply rounded-b-lg;
        @apply rounded-t-none;

      }
    }
  }

  .collection-not-ready {
    @apply px-6 py-4;
    @apply rounded-lg;

    @apply text-sm;
    @apply bg-black;

    .spinner {
      @apply inline;
      @apply -ml-1 mr-3 h-8 w-8 text-white;
      @apply animate-spin;
    }
  }

  .collection-status {
    @apply grid sm:grid-cols-2 auto-rows-min;
    @apply rounded-lg;
    background-color: black;
    border-color: #4f46e5 !important;
    border-radius: 2px;
    @apply font-DM;
    @apply text-sm;
    @apply bg-black;

    &>* {
      @apply flex flex-col items-center;
      @apply px-6 py-4;
      background-color: black;
      color: white;

      .label {
        @apply text-sm text-white;
      }
    }

    .user-address {
      @apply sm:col-span-2;
      @apply overflow-hidden;
      background-color: black;
      @apply border-b border-white;
      color: white;

      .address {
        @apply w-full;

        @apply font-semibold;
        @apply truncate;
        @apply text-center;
      }
    }

    .supply,
    .current-sale {
      .label {
        @apply block;

        @apply font-semibold;
      }

      &.supply {
        @apply border-b sm:border-b-0 sm:border-r border-white;
        border-color: #4f46e5 !important;
      }
    }
  }

  .cannot-mint,
  .not-mainnet,
  .collection-sold-out {
    @apply rounded-lg;
    @apply px-6 py-4;
    @apply text-center;
    @apply bg-black;

    &.cannot-mint .emoji {
      @apply block;
      @apply text-xl;
    }

    &.not-mainnet {
      @apply bg-coral;
      @apply text-black;

      .small {
        @apply block;
        @apply text-sm;
      }
    }

    &.collection-sold-out {
      h2 {
        @apply mb-3;
        @apply text-xl;
      }
    }
  }

  .mint-widget {
    @apply flex justify-center;
    @apply my-8;

    .preview {

      img {
        max-height: 100% !important;
        @apply m-auto;
        @apply w-96;
      }
    }

    .price {
      @apply px-6 ml-8;
      @apply flex flex-col justify-between;

      h2 {
        @apply text-xl uppercase;
      }

      h4 {
        @apply text-base uppercase;
      }

      button {
        @apply bg-black;
        @apply text-white font-normal;
        @apply border border-2 border-white;

        :hover {
          @apply bg-green-100;
          @apply text-black;
        }
      }
    }

    &>* {
      @apply w-full;

      &:not(:last-child) {
        @apply border-b border-black;
        color: white;
      }
    }

    .primary {
      @apply border-0;
      @apply px-6 py-2;
      @apply leading-none;
    }

    .controls {
      @apply flex justify-between items-center;

      .decrease {
        @apply bg-white;
        @apply text-black;
        @apply rounded-l-full;
        @apply rounded-r-none;
        @apply py-2 pl-3;
      }

      .increase {
        @apply bg-white;
        @apply text-black;
        @apply rounded-r-full;
        @apply rounded-l-none;
        @apply py-2 pr-3;
      }

      .mint-amount {
        @apply flex items-center justify-center;
        @apply text-black;
        @apply bg-white;
        @apply py-2 px-3;
      }
    }
  }
}